ANCHOR_EDGE_NETWORK=anchor-staging-edge
FRAGMENTS_EDGE_NETWORK=fragments-staging-edge

ANCHOR_WEB_DOMAIN=anchor-staging.anchor-event.fr
ANCHOR_API_DOMAIN=api-anchor-staging.anchor-event.fr
FRAGMENTS_API_DOMAIN=fragments-staging.anchor-event.fr
STUDIO_DOMAIN=studio-staging.anchor-event.fr
