########################################
# Application
########################################

APP_NAME=fragments
APP_ENV=staging
APP_DOMAIN=fragments-staging.anchor-event.fr
SPRING_PROFILES_ACTIVE=prod

########################################
# Container
########################################

BACKEND_IMAGE=<ecr-repository-uri>:<image-tag>
COMPOSE_PROFILES=https

########################################
# PostgreSQL
########################################

POSTGRES_DB=fragmentsclean
POSTGRES_USER=fragments
POSTGRES_PASSWORD=<secret>

########################################
# Authentication
########################################

AUTH_JWT_SECRET=<secret>
AUTH_JWT_ISSUER=https://auth.fragments

########################################
# Admin HTTP
########################################

ADMIN_SECURITY_TOKEN=<admin-import-bearer-token>

########################################
# CORS
########################################

FRAGMENTS_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FRAGMENTS_CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
FRAGMENTS_CORS_ALLOWED_HEADERS=Authorization,Content-Type,Accept,Origin,X-Requested-With,Last-Event-ID
FRAGMENTS_CORS_EXPOSED_HEADERS=Location
FRAGMENTS_CORS_ALLOW_CREDENTIALS=false
FRAGMENTS_CORS_MAX_AGE=3600

########################################
# Projection Sync SSE
########################################

FRAGMENTS_SYNC_SSE_TIMEOUT_MS=300000
FRAGMENTS_SYNC_SSE_HEARTBEAT_INTERVAL_MS=25000
FRAGMENTS_SYNC_SSE_RETRY_MS=5000
FRAGMENTS_SYNC_SSE_POLL_INTERVAL_MS=1000
FRAGMENTS_SYNC_SSE_REPLAY_BATCH_SIZE=100

########################################
# Google OAuth
########################################

GOOGLE_MOBILE_IOS_CLIENT_ID=<google-ios-client-id>.apps.googleusercontent.com
GOOGLE_MOBILE_IOS_REDIRECT_URI=com.googleusercontent.apps.<google-ios-client-id-prefix>:/oauthredirect

########################################
# Google Places
########################################

GOOGLE_PLACES_API_KEY=<secret>
GOOGLE_PLACES_PHOTO_IMPORT_LIMIT=15

########################################
# OpenAI
########################################

OPENAI_API_KEY=<secret-or-empty>
OPENAI_PROJECT_ID=<project-id-or-empty>
ARTICLE_GENERATION_OPENAI_ENABLED=false
ARTICLE_GENERATION_SCHEDULE_ENABLED=false
ARTICLE_GENERATION_SCHEDULE_DELAY_MS=604800000
ARTICLE_GENERATION_SCHEDULE_INITIAL_DELAY_MS=0
ARTICLE_GENERATION_SCHEDULE_SUBJECT=<editorial-subject>
ARTICLE_GENERATION_SCHEDULE_LOCALE=fr-FR
ARTICLE_GENERATION_SCHEDULE_MAX_PENDING=2
ARTICLE_GENERATION_SCHEDULE_DEDUPLICATION_HOURS=168

########################################
# Ticket Verification
########################################

TICKETVERIFY_BINARY_PATH=/app/bin/ticketverify
TICKETVERIFY_TIMEOUT_MS=1500

########################################
# AWS
########################################

AWS_REGION=eu-west-3

########################################
# Messaging
########################################

APP_MESSAGING_LOCAL_EVENT_BUS_ENABLED=false
APP_MESSAGING_SQS_ENABLED=true
APP_MESSAGING_SQS_MAX_MESSAGES=5
APP_MESSAGING_SQS_WAIT_TIME=PT20S
APP_MESSAGING_SQS_VISIBILITY_TIMEOUT=PT30S
APP_MESSAGING_SQS_SHUTDOWN_TIMEOUT=PT5S

SQS_ARTICLES_EVENTS_URL=<sqs-queue-url>
SQS_AUTH_USERS_EVENTS_URL=<sqs-queue-url>
SQS_APP_USERS_EVENTS_URL=<sqs-queue-url>
SQS_COFFEES_EVENTS_URL=<sqs-queue-url>
SQS_DOMAIN_EVENTS_URL=<sqs-queue-url>
SQS_TICKET_EVENTS_URL=<sqs-queue-url>
SQS_TICKET_VERIFICATION_REQUESTED_URL=<sqs-queue-url>

########################################
# Coffee photos
########################################

COFFEE_PHOTOS_STORAGE_DIRECTORY=/srv/fragments/coffee-photos
COFFEE_PHOTOS_PUBLIC_BASE_URL=https://fragments-staging.anchor-event.fr
COFFEE_PHOTOS_STORAGE_BACKEND=s3
COFFEE_PHOTOS_S3_BUCKET=anchor-assets-prod-851725375299
COFFEE_PHOTOS_S3_PREFIX=fragments/staging/coffees
COFFEE_PHOTOS_S3_REGION=eu-west-3
COFFEE_PHOTOS_S3_PRESIGN_TTL=PT15M

########################################
# Article images
########################################

ARTICLE_IMAGES_STORAGE_DIRECTORY=/srv/fragments/article-images
ARTICLE_IMAGES_PUBLIC_BASE_URL=https://fragments-staging.anchor-event.fr
ARTICLE_IMAGES_STORAGE_BACKEND=s3
ARTICLE_IMAGES_S3_BUCKET=anchor-assets-prod-851725375299
ARTICLE_IMAGES_S3_PREFIX=fragments/staging/articles
ARTICLE_IMAGES_S3_REGION=eu-west-3
ARTICLE_IMAGES_S3_PRESIGN_TTL=PT15M
